<div class="card mt-5 p-3 shadow-effect">
  <div class="card-body">
    <h4>Leave a Comment</h4>
    <p>You can leave a comment using this comment form</p>
  </div>
  <form
    #commentForm="ngForm"
    (ngSubmit)="handleSubmitComment(commentForm)"
  >
    <div class="form-group">
      <label for=""> Name </label>
      <input
        type="text"
        placeholder="Enter your name"
        class="form-control"
        name="name"
        ngModel
        required
        #Name="ngModel"
        [ngClass]="{
          'is-invalid': Name.touched && Name.invalid
        }"
      />
      <div *ngIf="Name.touched && Name.invalid" class="text-danger">
        <div *ngIf="Name.errors?. ['required']">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Comment</label>
      <textarea
        placeholder="Enter your comment"
        class="form-control"
        cols="30"
        rows="10"
        name="comment"
        ngModel
        required
        #Comment="ngModel"
        [ngClass]="{
          'is-invalid': Comment.touched && Comment.invalid
        }"
      ></textarea>
      <div *ngIf="Comment.touched && Comment.invalid" class="text-danger">
        <div *ngIf="Comment.errors?. ['required']">Comment is required</div>
      </div>
    </div>
    <button
      [disabled]="commentForm.invalid"
      class="btn text-white btn-info btn-theme mt-2"
    >
      Add a Comment
    </button>
  </form>
</div>
