<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">ABOUT US</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis
        ex ornare augue cursus tristique and Lorem ipsum dolor sit amet,
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis
        ex ornare augue cursus tristique and Lorem ipsum dolor sit amet,
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis
        ex ornare augue cursus tristique and Lorem ipsum dolor sit amet,
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis
        ex ornare augue cursus tristique and Lorem ipsum dolor sit amet,
      </p>

      <div class="text-center">
        <button class="btn text-white btn-info btn-theme btn-sm mt-4">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
